# yaml-language-server: $schema=https://json.schemastore.org/clang-format-21.x.json
---
BasedOnStyle: GOOGLE
AlignAfterOpenBracket: false
IndentWidth: 2
ContinuationIndentWidth: 2
BinPackArguments: false
---
Language: Cpp
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left
AlignAfterOpenBracket: BlockIndent
---
